@import './vars.scss';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: $main-font;
  background-color: $background-color;
}

a, a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;
  cursor: pointer;
}

h1 {
  font-size: 30px;
  font-weight: normal;
}

h2 {
  font-size: 26px;
}

p {
  font-size: 20px;
}

.flex-row {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.flex-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.max-width {
  max-width: 1440px;
  margin: 0 auto;
}

/* Header */

header {
  height: $header-height;
  width: 100%;
  background-color: $britebrand-dark-blue;
  color: white;
  padding: 30px 50px;
  background-position: center;
  background-size: cover;
}

.logo-container {
  width: 225px;
}

.logo-img {
  height: auto;
  width: 100%;
  object-fit: contain;
}

.header-top {
  justify-content: space-between;
}

.header-tagline {
  text-align: center;
}

.header-links {
  position: relative;
}

.header-link {
  margin-left: 15px;
  font-size: 20px;
}

.header-input {
  width: 100%;
  height: 50px;
  border: none;
  font-size: 22px;
  padding-left: 15px;
  font-family: inherit;
  border-radius: 0px;
}

.header-input::placeholder {
  color: #888D88;
}

.counter {
  background-color: $britebrand-red;
  color: white;
  position: absolute;
  height: 20px;
  width: 20px;
  border-radius: 100%;
  font-size: 12px;
  top: -10px;
  right: -15px;
}

.body-container {
  padding: 50px;
}

/* Home */

.loading-container {
  height: calc(100vh - #{$header-height});
  display: flex;
  align-items: center;
  justify-content: center;
}

.domains-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-gap: 20px;
}

.domain-container {
  height: 230px;
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
}

.domain-name-container {
  background-color: white;
  height: calc(100% - 50px);
  width: 100%;
  position: relative;
}

.domain-name {
  font-size: 25px;
}

.domain-price-container {
  height: 50px;
  padding: 10px;
  background-color: $britebrand-gray;
  justify-content: space-between;
}

.domain-buy-button {
  color: white;
  background-color: $britebrand-red;
  width: 100px;
  height: 30px;
  font-size: 14px;
}

.domain-price {
  font-size: 20px;
  font-weight: 600;
}

.add-remove-button {
  height: 26px;
  width: 26px;
  border-radius: 50%;
  background-color: $britebrand-blue;
  color: white;
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  line-height: 20px;
}

/* About */

.about-section-container {
 margin-bottom: 50px;
}

.about-section-title {
  font-weight: bold;
}

.about-section-body {
  font-weight: normal;
  margin-left: 50px;
}

/* Cart */
.cart-container {
  display: flex;
  flex-direction: row;
}

.cart-container-left {
  flex: 1;
  padding-right: 90px;
}

.cart-container-right {
  flex: 1;
  padding-left: 90px;
}

.cart-domain-container {
  background-color: white;
  height: 65px;
  width: 100%;
  box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
  margin-bottom: 10px;
  justify-content: space-between;
}

.cart-domain-left-container {
  padding: 20px;
  width: 100%;
  align-items: center;
  justify-content: space-between;
}

.cart-domain-right-container {
  width: 65px;
  height: 100%;
  background-color: $britebrand-gray;
} 

.cart-remove-button {
  position: static;
}

.cart-buy-now-button {
  background-color: $britebrand-red;
  width: 100%;
  height: 65px;
  color: white;
  font-size: 30px;
}

@media screen and (min-width: 1440px) {

  .body-container {
    box-sizing: content-box;
  }

}

@media screen and (max-width: 920px) {

  header, .body-container {
    padding: 30px;
  }

  .domains-container {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }

  .about-section-body {
    margin-left: 0;
  }

  .cart-container-left {
    padding-right: 20px;
  }
  
  .cart-container-right {
    padding-left: 20px;
  }

}

@media screen and (max-width: 600px) {

  h1 {
    font-size: 25px;
  }
  
  h2 {
    font-size: 22px;
  }
  
  p {
    font-size: 18px;
  }
  
  header {
    height: $header-height-mobile;
  }

  .logo-container {
    width: 140px;
  }

  .header-input {
    height: 40px;
  }

  .domains-container {
    padding: 30px;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }

  .cart-container {
    flex-direction:  column;
  }

  .cart-container-left {
    padding-right: 0;
  }
  
  .cart-container-right {
    padding-left: 0;
  }

}


@media screen and (max-width: 350px) {

  h1 {
    font-size: 20px;
  }
  
  h2 {
    font-size: 18px;
  }
  
  p {
    font-size: 16px;
  }

  .logo-container {
    width: 120px;
  }

  .header-input {
    height: 35px;
  }

  .header-link {
    font-size: 16px;
  }

}