$britebrand-blue: #305CC0;
$britebrand-dark-blue: #243C54;
$britebrand-red: #BA3C61;
$britebrand-black: #3A3335;
$britebrand-gray: #F3F3F3;

$background-color: #F9F9F9;

$main-font: 'Avenir', sans-serif;

$header-height: 280px;